.checkout__product{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}
.checkoutProduct__img{
    object-fit: contain;
    width: 188px;
    height: 188px;
    max-width: 100%;
}

.checkoutProduct__info{
    padding-left :20px;
}
.checkoutProduct__info > button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #864a29;
    margin-top:  10px;
    color : black;
}
.checkoutProduct__rating{
    display: flex;
}
.checkoutProduct__title{
    font-size: 2vw;
    font-weight: 600;
    max-width: 100%;
}